---
---

@import "{{ site.theme }}";

a.buttons {
	-webkit-font-smoothing: antialiased;
	background: none;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 12px;
	height: 2em;
}

a {
	color: #333333;
	font-weight: bold;
}

header li {
	background: #ffcb00;
	-webkit-box-shadow: inset 0px 1px 1px 0 #ffcb00;
  box-shadow: inset 0px 1px 1px 0 #ffcb00;
}

header li:hover {
	background: #eea900;
}

header li a {
	color: #000000;
}

header li a:hover {
	color: #000000;
}
